/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
/*=============== VARIABLES CSS ===============*/

:root {
  --header-height: 3rem !important;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: #531717;
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem !important;
  --normal-font-size: 0.938rem !important;
  --tiny-font-size: 0.625rem !important;

  /*========== z index ==========*/
  --z-tooltip: 10 !important;
  --z-fixed: 100 !important;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem !important;
    --normal-font-size: 1rem !important;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box !important;
  padding: 0 !important;
  margin: 0 !important;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size) !important;
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100% !important;
  height: auto !important;
}
/* Container styles */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

/* Card styles */
.card-body {
  padding: 2rem;
  margin-bottom: 1.5rem;
}

/* Heading styles */
h1.font-esthetic {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* gambar gereja  */
.church__image img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px; /* Adjust margin as needed */
}

/* Carousel styles */
.carousel-inner img {
  width: 100%;
  height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(230, 103, 19, 0.5) !important; /* Darker color with transparency */
  border-radius: 50%; /* Optional: make them round */
  width: 50px; /* Optional: adjust size */
  height: 50px; /* Optional: adjust size */
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1);
}

/* Utility classes */
.rounded-4 {
  border-radius: 1.5rem !important;
}

.rounded-5 {
  border-radius: 2.5rem !important;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg-white {
  background-color: white;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.text-center {
  text-align: center;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem !important;
}

.section__height {
  min-height: 100vh !important;
  overflow-x: hidden !important;
}

.gokkon {
  font-family: Alice !important;
  font-size: 32px !important;
}
.gokkontitle {
  font-family: Alice !important;
  font-size: 16px !important;
}

/* bootstrap converted */
.m-0 {
  margin: 0 !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.container {
  width: 100% !important;
  max-width: 1140px !important;
  margin: 0 auto !important;
  padding: 0 15px !important;
}
.border {
  border: 1px solid #dee2e6 !important;
}
.rounded-4 {
  border-radius: 0.5rem !important;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.p-3 {
  padding: 1rem !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.d-grid {
  display: grid !important;
  gap: 1rem !important;
}
.btn {
  display: inline-block !important;
  font-weight: 400 !important;
  text-align: center !important;
  vertical-align: middle !important;
  cursor: pointer !important;
  user-select: none !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: 0.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
.btn-primary {
  color: #fff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #0b5ed7 !important;
  border-color: #0a58ca !important;
}
.btn-sm {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
}
.rounded-3 {
  border-radius: 0.3rem !important;
}
.form-label {
  display: inline-block !important;
  margin-bottom: 0.5rem !important;
}
.form-control {
  display: block !important;
  width: 100% !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
.form-select {
  display: block !important;
  width: 100% !important;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
.alert {
  position: relative !important;
  padding: 0.75rem 1.25rem !important;
  margin-bottom: 1rem !important;
  border: 1px solid transparent !important;
  border-radius: 0.25rem !important;
}
.alert-info {
  color: #084298 !important;
  background-color: #cff4fc !important;
  border-color: #b6effb !important;
}
.alert-dismissible .btn-close {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 2 !important;
  padding: 0.75rem 1.25rem !important;
  color: inherit !important;
  background: none !important;
  border: 0 !important;
}
.pagination {
  display: flex !important;
  padding-left: 0 !important;
  list-style: none !important;
  border-radius: 0.25rem !important;
}
.page-item {
  margin: 0 0.25rem !important;
}
.page-link {
  position: relative !important;
  display: block !important;
  padding: 0.375rem 0.75rem !important;
  margin-left: -1px !important;
  line-height: 1.25 !important;
  color: #0d6efd !important;
  background-color: #fff !important;
  border: 1px solid #dee2e6 !important;
}
.page-link:hover {
  color: #0a58ca !important;
  background-color: #e9ecef !important;
  border-color: #dee2e6 !important;
}
.page-item.disabled .page-link {
  color: #6c757d !important;
  pointer-events: none !important;
  background-color: #fff !important;
  border-color: #dee2e6 !important;
}
.d-flex {
  display: flex !important;
}
.justify-content-center {
  justify-content: center !important;
}
.text-light {
  color: #f8f9fa !important;
}
.fa-solid {
  font-family: 'Font Awesome 6 Free' !important;
  font-weight: 900 !important;
}
.me-1 {
  margin-right: 0.25rem !important;
}
.ms-1 {
  margin-left: 0.25rem !important;
}

/*=============== LAYOUT ===============*/
#home {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-image: url(../img/bgmain.png) !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

/*=============== HEADER ===============*/
.header {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  z-index: var(--z-fixed) !important;
  transition: 0.4s !important;
  padding: 10px 20px !important;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height) !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.nav__img {
  width: 50px !important;
  border-radius: 50% !important;
}

.nav__logo {
  color: var(--container-color) !important;
  font-weight: 600 !important;
  font-family: 'Allura', cursive !important;
  font-size: 1.8rem !important;
}

.nav__logo span {
  color: #daa520 !important;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: var(--container-color) !important;
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15) !important;
    width: 100% !important;
    height: 4rem !important;
    padding: 0 1rem !important;
    display: grid !important;
    align-content: center !important;
    border-radius: 1.25rem 1.25rem 0 0 !important;
    transition: 0.4s !important;
  }

  #home {
    background-image: url(../img/bgmain.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
  }
}

.nav__list,
.nav__link {
  display: flex !important;
}

.nav__link {
  flex-direction: column !important;
  align-items: center !important;
  row-gap: 4px !important;
  color: var(--title-color) !important;
  font-weight: 600 !important;
}

.nav__list {
  justify-content: space-around !important;
}

.nav__name {
  font-size: var(--tiny-font-size) !important;
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem !important;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: 0.3s;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15) !important;
  background-color: var(--container-color) !important;
}

.scroll-header .nav__logo {
  color: #531717 !important;
}
.scroll-header .nav__link {
  color: var(--title-color) !important;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none !important;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center !important;
    column-gap: 3rem !important;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0 !important;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem) !important; /* 4.5rem */
  }
  .nav__img {
    display: none !important;
  }
  .nav__icon {
    display: none !important;
  }
  .nav__name {
    font-size: var(--normal-font-size) !important;
  }

  .nav__link:hover {
    color: #daa520 !important;
  }

  .nav__link {
    color: var(--first-color) !important;
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '' !important;
    position: absolute !important;
    bottom: -0.75rem !important;
    width: 4px !important;
    height: 4px !important;
    background-color: var(--first-color) !important;
    border-radius: 50% !important;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.section__box {
  position: relative !important;
  padding-bottom: 150px !important;
}

.section__box .section__title {
  text-align: center !important;
  text-shadow: 0 2px 3px rgba(0, 50, 98, 0.56) !important;
}

.section__box .section__title p:nth-child(1) {
  font-size: 1.4em !important;
  color: var(--container-color) !important;
}

.section__box .section__title p:nth-child(3) {
  font-size: 1em !important;
  color: var(--container-color) !important;
  padding: 5px !important;
  border-radius: 10px !important;
}

.section__box .section__title h3 {
  font-family: 'Allura', cursive;
  font-size: 3.5rem !important;
  font-weight: 500 !important;
  color: var(--container-color) !important;
}

.section__box .section__title h3 span {
  color: #daa520 !important;
}

/* CSS untuk countdown container */
.countdown-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.countdown-item {
  text-align: center !important;
  margin: 10px !important;
  flex: 1 !important;
  max-width: 150px !important;
  min-width: 100px !important;
}

.glassmorphism {
  background: rgba(228, 177, 82, 0.56) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 10px !important;
  padding: 20px 10px !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

.glassmorphism span {
  display: block !important;
  font-size: 20px !important;
  font-weight: bold !important;
  color: white !important;
}

.glassmorphism .label {
  font-size: 12px !important;
  color: rgba(255, 255, 255, 0.7) !important;
  text-transform: uppercase !important;
  margin-top: 5px !important;
}

@media screen and (max-width: 576px) {
  .countdown-container {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    gap: 10px !important;
    padding-top: 20px !important;
  }

  .countdown-item {
    text-align: center !important;
    margin: 5px !important;
    flex: 1 1 calc(50% - 10px) !important;
    max-width: 150px !important;
    min-width: 100px !important;
  }

  .glassmorphism {
    padding: 10px !important;
  }

  .glassmorphism span {
    font-size: 24px !important;
  }

  .glassmorphism .label {
    font-size: 10px !important;
    margin-top: 3px !important;
  }
}

#about .section__title,
#event .section__title,
#gift .section__title,
#contact .section__title {
  text-align: center !important;
  color: var(--first-color) !important;
  font-family: 'Allura', cursive !important;
  font-size: 2.5rem !important;
  padding: 20px !important;
}

#about .section__title img,
#event .section__title img,
#gift .section__title img,
#contact .section__title img {
  width: 450px !important;
}

#about .section__title p,
#event .section__title p,
#gift .section__title p,
#contact .section__title p {
  font-size: 16px !important;
  font-family: 'Poppins', sans-serif !important;
  color: var(--text-color) !important;
}

@media screen and (max-width: 576px) {
  #about .section__title,
  #event .section__title,
  #gift .section__title,
  #contact .section__title {
    text-align: center !important;
    color: var(--first-color) !important;
    font-family: 'Allura', cursive !important;
    font-size: 1rem !important;
    padding: 10px !important;
  }

  #about .section__title img,
  #event .section__title img,
  #gift .section__title img,
  #contact .section__title img {
    width: 350px !important;
  }

  #about .section__title p,
  #event .section__title p,
  #gift .section__title p,
  #contact .section__title p {
    font-size: 12px !important;
    font-family: 'Poppins', sans-serif !important;
    color: var(--text-color) !important;
  }
}

@media screen and (max-width: 992px) {
  #about .section__title,
  #event .section__title,
  #gift .section__title,
  #contact .section__title {
    text-align: center !important;
    color: var(--first-color) !important;
    font-family: 'Allura', cursive !important;
    font-size: 2rem !important;
    padding: 10px !important;
  }

  #about .section__title img,
  #event .section__title img,
  #gift .section__title img,
  #contact .section__title img {
    width: 350px !important;
  }
}

@media screen and (max-width: 420px) {
  #about .section__title,
  #event .section__title,
  #gift .section__title,
  #contact .section__title {
    text-align: center !important;
    color: var(--first-color) !important;
    font-family: 'Allura', cursive !important;
    font-size: 1.5rem !important;
    padding: 10px !important;
  }

  #about .section__title img,
  #event .section__title img,
  #gift .section__title img,
  #contact .section__title img {
    width: 250px !important;
  }
}

.container#about,
.container#gift {
  background-image: url(../img/bol4.png) !important;
  background-position: center !important;
  background-size: cover !important;
  position: relative !important;
}

.container#contact {
  padding-bottom: 100px !important;
}

.section__about {
  text-align: center !important;
  padding: 10px !important;
}

.section__about img {
  max-width: 400px !important;
}

.section__about h3 {
  font-family: 'Allura', cursive;
  font-size: 2rem !important;
  color: var(--first-color) !important;
}

.section__about p {
  color: var(--text-color) !important;
  font-weight: 500 !important;
  font-size: 1.1rem !important;
}

.container#event,
.container#contact {
  background-image: url(../img/bol5.png) !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative !important;
}

.container#event p,
.container#contact p {
  color: var(--text-color) !important;
}

.event__box {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative !important;
  margin-top: -70px !important;
}

.event__box .event__text {
  position: absolute !important;
  text-align: center !important;
  padding: 10px 30px !important;
  margin-left: -15px !important;
  line-height: 1.3 !important;
  margin-top: 25px !important;
}

.event__box .event__text h3 {
  font-family: 'Allura', cursive;
  font-size: 2em !important;
  color: var(--first-color) !important;
}

.event__box .event__text .p1 {
  font-size: 1em !important;
  color: #daa520 !important ;
  font-weight: 700 !important;
}

.event__box .event__text .p3 {
  color: var(--first-color) !important;
  font-weight: 700 !important;
  margin-top: 5px !important;
  font-size: 1em !important;
}

.event__box .event__text .p2 {
  font-size: 0.96em !important;
}

.event__add {
  position: relative !important;
  text-align: center !important;
  padding: 10px 20px !important;
}

.event__add h3 {
  margin-bottom: 10px !important;
  font-family: 'Alice' !important;
  font-size: 2em !important;
  color: var(--first-color) !important;
  line-height: 1 !important;
}
.gokkon h3 {
  font-family: Alice !important;
  font-size: 2em !important;
}
.gokkon h4 {
  font-family: Alice !important;
  font-size: 1em !important;
}
.event__add p {
  font-size: 0.96em !important;
}

.event__add img {
  width: 250px !important;
}

.event__add p {
  margin-bottom: 10px !important;
}

.event__map {
  padding: 30px 20px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 20px !important;
}

.event__map a {
  padding: 10px !important;
  background-color: var(--first-color) !important;
  color: var(--container-color) !important;
  border-radius: 5px !important;
  font-weight: 500 !important;
  transition: 0.5s ease !important;
  font-size: 14px !important;
}

.event__map a:hover {
  background-color: #00529e !important;
  transform: scale(1.1) !important;
}

.rek__box {
  padding: 20px 30px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.rek__box .bca {
  margin-bottom: 20px !important;
}

.rek__box .rek__title {
  line-height: 1.5 !important;
  padding: 5px 10px !important;
}

.rek__box .rek__title h2 {
  font-family: 'Allura', cursive !important;
  font-size: 2em !important;
  color: var(--first-color) !important;
  letter-spacing: 1px !important;
}

.rek__box .rek__title p {
  color: var(--text-color) !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  letter-spacing: 1.2 !important;
}

#copyButton1,
#copyButton2 {
  padding: 5px 10px !important;
  font-size: 14px !important;
  cursor: pointer !important;
  background-color: var(--first-color) !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  margin: 5px !important;
}

#copyButton1:hover,
#copyButton2:hover {
  background-color: #025fb6 !important;
}

#copyStatus1,
#copyStatus2 {
  margin-top: 10px !important;
  font-size: 14px !important;
  color: #daa520 !important;
}

.form__template {
  padding: 10px 20px !important;
  min-height: 450px !important;
}

.datainput {
  position: relative !important;
  margin: 5px 0 20px !important;
}
.datainput p {
  font-size: 12px !important;
  background: #eee !important;
  display: inline-block !important;
  padding: 5px 15px !important;
  border-radius: 0.5rem !important;
}
.whatsapp-form textarea {
  min-height: 120px !important;
}
.datainput select {
  padding: 12px 0 !important;
  color: var(--text-color) !important;
  font-size: 14px !important;
  width: 100% !important;
  border: 0 !important;
  border-bottom: 1px solid #ddd !important;
  outline: none !important;
  background: #fff !important;
}
.datainput input,
.datainput textarea {
  font-size: 15px !important;
  padding: 15px 10px !important;
  display: block !important;
  width: 100% !important;
  border: none !important;
  border-bottom: 1px solid #ddd !important;
  border-radius: 5px !important;
}
.datainput input:focus,
.datainput textarea:focus {
  outline: none !important;
}
.datainput label {
  color: var(--text-color) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  position: absolute !important;
  pointer-events: none !important;
  left: 0 !important;
  top: 18px !important;
  transition: 0.2s ease all !important;
}
.datainput input:focus ~ label,
.datainput input:valid ~ label,
.datainput textarea:focus ~ label,
.datainput textarea:valid ~ label {
  top: -10px !important;
  font-size: 14px !important;
  color: var(--first-color) !important;
}
#notif-license span {
  font-size: 40px !important;
}
#notif-license {
  display: none !important;
  position: fixed !important;
}
.bar {
  position: relative !important;
  display: block !important;
  width: 100% !important;
}
.bar:before,
.bar:after {
  content: '' !important;
  height: 2px !important;
  width: 0 !important;
  bottom: 1px !important;
  position: absolute !important;
  background: var(--first-color) !important;
  transition: 0.2s ease all !important;
}
.bar:before {
  left: 50% !important;
}
.bar:after {
  right: 50% !important;
}
.datainput input:focus ~ .bar:before,
.datainput input:focus ~ .bar:after,
.datainput textarea:focus ~ .bar:before,
.datainput textarea:focus ~ .bar:after {
  width: 50% !important;
}
.indigox {
  background: #3f51b5 !important;
}
.orangex {
  background: #ff9800 !important;
}
.pinkx {
  background: #e91e63 !important;
}
.bluex {
  background: #2196f3 !important;
}
.purplex {
  background: #9c27b0 !important;
}
.redx {
  background: #f44336 !important;
}
.greenx {
  background: #4caf50 !important;
}
.highlight {
  position: absolute !important;
  height: 50% !important;
  width: 100px !important;
  top: 25% !important;
  left: 0 !important;
  pointer-events: none !important;
  opacity: 0.5 !important;
}
.datainput input:focus ~ .highlight,
.datainput textarea:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease !important;
}
.datainput input:focus ~ label,
.datainput input:valid ~ label,
.datainput textarea:focus ~ label,
.datainput textarea:valid ~ label {
  top: -10px !important;
  font-size: 13px !important;
  color: var(--first-color) !important;
}

form.whatsapp-form {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28) !important;
  border-radius: 0.5rem !important;
  padding: 20px !important;
  box-sizing: border-box !important;
  color: var(--text-color) !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
}
.whatsapp-form a.send_form {
  color: #fff !important;
  background: var(--first-color) !important;
  text-decoration: none !important;
  display: inline-block !important;
  padding: 5px 10px !important;
  border-radius: 0.3rem !important;
  font-weight: 300 !important;
  letter-spacing: 0.5px !important;
  font-size: 12px !important;
}

.whatsapp-form a.send_form i {
  margin-right: 3px !important;
}

#text-info span {
  display: block !important;
  padding: 10px 15px !important;
  text-align: center !important;
  font-weight: 700 !important;
  margin: 15px 0 !important;
  border-radius: 0.5rem !important;
}
#text-info span.yes {
  background: #c6ffc5 !important;
  color: #0ea904 !important;
}
#text-info span.no {
  background: #ffc5c5 !important;
  color: #ce0404 !important;
}

.img__template {
  position: relative !important;
  width: 100% !important;
  padding: 10px 20px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  gap: 10px !important;
  margin-bottom: 30px !important;
}

.img__template img {
  width: 120px !important;
  border-radius: 10px !important;
}

.img__template .img__title {
  text-align: center !important;
  font-family: 'Allura', cursive !important;
  font-size: 4em !important;
  color: #daa520 !important;
  font-weight: bold !important;
}

.img__template h4 {
  font-size: 2.3em !important;
  letter-spacing: 1px !important;
  font-family: 'Allura', cursive !important;
  color: var(--first-color) !important;
}

.img__template .img__title1 {
  text-align: center !important;
  font-size: 1em !important;
  color: #daa520 !important;
  font-weight: 500 !important;
  line-height: 0.5 !important;
}

#playPauseButton {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  background-color: var(--first-color) !important;
  border: none !important;
  color: white !important;
  padding: 15px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 24px !important;
  cursor: pointer !important;
  border-radius: 50% !important;
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.3s !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15) !important;
  z-index: 1000 !important; /* Pastikan tombol di atas navbar jika ada */
}

#scrollButton {
  position: fixed !important;
  bottom: calc(20px + 15px + 20px) !important;
  right: 20px !important;
  background-color: var(--first-color) !important;
  border: none !important;
  color: white !important;
  padding: 15px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 24px !important;
  cursor: pointer !important;
  border-radius: 50% !important;
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.3s !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15) !important;
  z-index: 1000 !important; /* Pastikan tombol di atas navbar jika ada */
}

@media (max-width: 767px) {
  #playPauseButton {
    font-size: 20px !important;
    padding: 5px !important;
    bottom: 18% !important;
  }

  #scrollButton {
    font-size: 20px !important;
    padding: 5px !important;
    bottom: 12% !important;
  }
}
